---
interface Props {
  className: string;
}
---

<div
  class="md:h-[48px] h-[44px] bg-blue-700 px-2 py-1 rounded-xl overflow-hidden transition ease-in-out duration-500 w-auto flex items-center"
  id="container"
>
  <h2
    class={`transition-opacity duration-500 text-white font-sans text-xl md:text-4xl font-semibold capitalize`}
    id="animated-word"
  >
    Full Stack Developer
  </h2>
</div>

<style>
  .fade-out {
    opacity: 5%;
  }
</style>

<script>
  let currentIndex = 0;
  const words = [
    "vim lover",
    "emoji enthusiast",
    "web developer",
    "Slack lover",
    "foody",
    "web developer",
  ];
  const animatedWord = document.getElementById("animated-word");

  if (animatedWord) {
    setInterval(() => {
      animatedWord.classList.add("fade-out");
      setTimeout(() => {
        currentIndex = (currentIndex + 1) % words.length;
        animatedWord.textContent = words[currentIndex];
        animatedWord.classList.remove("fade-out");
      }, 500);
    }, 2000);
  }
</script>
