---
import { ChevronDown, ChevronUp } from "lucide-react";
import Background from "../background/index.astro";
interface Props {
  backgroundColor?: string;
  id?: string;
  nextSectionHref?: string;
  prevSectionHref?: string;
}

const { backgroundColor, id, nextSectionHref, prevSectionHref } = Astro.props;
---

<section
  class={`relative snap-start h-screen w-screen max-h-[-webkit-fill-available] flex flex-col overflow-hidden ${backgroundColor}`}
  style={{ backgroundColor }}
  id={id}
>
  <Background>
    <slot />
  </Background>
</section>

{
  !!nextSectionHref && (
    <a
      class="cursor-pointer absolute border border-border hover:border-white text-border hover:text-white transition-all rounded-full bottom-3 right-10 w-8 h-8 z-20 duration-300 animate-bounce flex justify-center items-center scroll-smooth"
      href={nextSectionHref}
    >
      <ChevronDown className="w-7 h-7" strokeWidth={1} />
    </a>
  )
}
{
  !!prevSectionHref && (
    <a
      class="cursor-pointer absolute border border-border hover:border-white text-border hover:text-white transition-all rounded-full top-5 right-10 w-8 h-8 z-20 duration-300 animate-bounce flex justify-center items-center"
      href={prevSectionHref}
    >
      <ChevronUp className="w-7 h-7" strokeWidth={1} />
    </a>
  )
}
