---
import Layout from "../layouts/layout/index.astro";
import Forest from "../components/forest/index.astro";
import { PATHS } from "../utils/constants";
---

<Layout title="JP | 404" description="Jay Pancholi | Muggle Born Dev">
  <div class="flex h-screen w-screen relative bg-[#7bbeff]">
    <Forest />
    <div
      class="m-auto h-full z-30 flex flex-col justify-center items-center w-1/2 -mt-80 text-[#011313]"
    >
      <h1 class="animate-page-load font-bold text-9xl">404</h1>
      <h2 class="animate-page-load text-center font-semibold text-xl">
        You’ve ventured into the Forbidden Forest,<br /> where dangers lurk in every
        shadow.
      </h2>
      <span class="font-medium text-xl animate-page-load">
        Return to safety by heading back to the <a
          class="border-b-[#011313] border-b"
          href={PATHS.home}>Home</a
        >
      </span>
    </div>
  </div>
</Layout>
