---
import Layout from "../../layouts/layout/index.astro";
import Experience from "./components/experience.astro";
import Profile from "./components/profile.astro";
import Inro from "./components/intro.astro";
import Freelance from "./components/freelance.astro";
import Contact from "./components/contact.astro";
import Pojects from "./components/projects.astro";
import Skills from "./components/skills.astro";
---

<Layout title="About Me" description="sdf">
  <div class="bg-neutral-900 flex pb-20">
    <div class="flex flex-col md:flex-row container mx-auto gap-8">
      <div class="w-full md:w-1/3 md:py-6 pt-6 animate-page-load" id="profile">
        <div class="sticky top-6 flex flex-col gap-6">
          <Profile />
          <Skills />
        </div>
      </div>
      <div
        class="w-full md:w-2/3 flex flex-col md:py-6 gap-6 animate-page-load opacity-0"
        style="animation-delay: 200ms;"
      >
        <Inro />
        <Experience />
        <Freelance />
        <Pojects />
        <Contact />
      </div>
    </div>
  </div>
</Layout>
